*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(43, 43, 43);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.header {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
}

#feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

article {
    background: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    position: relative;
    border: 1px solid #cccccc;
    transition: all 0.25s ease-in-out;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

p.card {
    position: absolute;
    bottom: 10px;
}

button {
    background-color: rgb(44, 58, 255);
    color: #fafafa;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
